@{
Layout = null;
}


<div class="row">
    <div class="col-md">
        <img id="previewImage"  src="~/images/avatars/avatar3.jpg" class="img-md rounded-circle border">
        <br />
        <div class="col-md">
            <input type="file" id="imageInput" accept="image/*" class="btn-link">
        </div>
    </div>

</div>
<br><br><br><br><br><br>
<div class="card">
    <div class="card-body">
        <form class="row">
            <div class="col-md-9">
                <div class="form-row">
                    <div class="col form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" value="Vosidiy">
                    </div>
                    <!-- form-group end.// -->
                    <div class="col form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" value="vosidiy@gmail.com">
                    </div>
                    <!-- form-group end.// -->
                </div>
                <!-- form-row.// -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Country</label>
                        <select id="inputState" class="form-control">
                            <option>Choose...</option>
                            <option>Uzbekistan</option>
                            <option>Russia</option>
                            <option selected="">United States</option>
                            <option>India</option>
                            <option>Afghanistan</option>
                        </select>
                    </div>
                    <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>City</label>
                        <input type="text" class="form-control">
                    </div>
                    <!-- form-group end.// -->
                </div>
                <!-- form-row.// -->

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Zip</label>
                        <input type="text" class="form-control" value="123009">
                    </div>
                    <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="text" class="form-control" value="+123456789">
                    </div>
                    <!-- form-group end.// -->
                </div>
                <!-- form-row.// -->

                <button class="btn btn-primary">Save</button>
                <button class="btn btn-light">Change password</button>



            </div> <!-- col-md-9 -->
        </form>
    </div> <!-- card-body -->
</div> <!-- card -->