<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <br />
        <br />
        Xin chào đây là giao diện layout admin
        <br />
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Home">Về Home User</a>
        <hr />
        <hr />
        <br />
        <br />
        @RenderBody()
    </div>
</body>
</html>
